.content {
  font-size: 85%;
  text-align: center;
  padding: 5px 0;
}

.content a {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}

.content a:hover {
  color: var(--ifm-color-primary-dark);
  text-decoration: none;
}
