FIBERY_WORKSPACE=
FIBERY_API_TOKEN=
FIBERY_MAX_RETRIES=3
FIBERY_RETRY_DELAY_MS=400

DISCORD_TOKEN=

GITOPS_ROOTDIR="/backend/"
GITOPS_GITREPONAME="typewriter.git"
GITOPS_GITHUBTOKEN=cmd://"gh auth token"
GITOPS_GOOGLECREDENTIALS=cmd://"gcloud auth application-default print-access-token"
GITOPS_KUBERNETESSERVICE=tcp://localhost:6550
GITOPS_GITSERVICE=tcp://localhost:30080
GITOPS_KUBECONFIG=cmd://"k3d kubeconfig get seamlezz-local"
