FIBERY_WORKSPACE=
FIBERY_API_TOKEN=
FIBERY_MAX_RETRIES=3
FIBERY_RETRY_DELAY_MS=400

DISCORD_TOKEN=

GITOPS_ROOTDIR="/backend/"
GITOPS_GITREPONAME="typewriter.git"
GITOPS_GITHUBTOKEN=cmd://"gh auth token"
GITOPS_CLUSTERDIR="_clusters"
GITOPS_CLUSTERS="local,production"
GITOPS_GOOGLECREDENTIALS=cmd://"gcloud auth application-default print-access-token"
GITOPS_KUBERNETESSERVICE=tcp://localhost:6550
GITOPS_GITSERVICE=tcp://localhost:30080
GITOPS_KUBECONFIG=cmd://"k3d kubeconfig get seamlezz-local"

WASH_ROOTDIR="/backend/"
WASH_CACHENAMESPACE="typewriter-backend"
WASH_PUBLISHCOMPONENTS_REGISTRY="oci.local.seamlezz.net"
WASH_PUBLISHCOMPONENTS_REGISTRYSERVICE=tcp://oci.local.seamlezz.net:443
WASH_PUBLISHCOMPONENTS_REPOSITORY="typewriter"
WASH_PUBLISHCOMPONENTS_USERNAME="gabber235"
WASH_PUBLISHCOMPONENTS_PASSWORD=file://./backend/.artifact_keeper_password

DATABASELOCALSYNC_KUBECONFIG=cmd://"k3d kubeconfig get seamlezz-local"
DATABASELOCALSYNC_KUBERNETES=tcp://localhost:6550
DATABASELOCALSYNC_SURREALDB=tcp://surrealdb.local.seamlezz.net:443