.player > video {
    border-radius: 0px 0px 8px 8px;
}

.bar {
    height: 5px;
    background-color: #63636325;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: var(--ifm-color-primary);
    transition: width 0.2s;
}
