
.entryField {
    margin-bottom: 30px;
}

.name {
    display: inline-block;
    margin-bottom: 0px;
    margin-right: 20px;
    font-size: 1.3em;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

span {
    margin: 0 5px;
}

span:first-of-type {
    margin-left: 0;
}

span:last-of-type {
    margin-right: 0;
}

br {
    content: "";
    display: block;
    margin: 10px 0;
}
