.features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.featureRive {
    height: 200px;
    width: 200px;
    margin-bottom: 1rem;
}

.featureRive > canvas {
    border-radius: 0.5rem;
}
