.heroBanner {
  position: relative;
  overflow: hidden;
  color: var(--ifm-color-white);
}

.videoContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-position: bottom center;
  height: 100vh;
  overflow: hidden; /* Add overflow property to hide overflow content */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5) 98%,
    rgba(27, 27, 29, 1) 100%
  );
  z-index: 1; /* Ensure the overlay is above the video */
  margin-bottom: 100px;
}

.videoBackground {
  width: 100%;
  object-fit: cover;
  height: 100vh;
  background-position: bottom center;
}

.contentContainer {
  position: relative;
  z-index: 1;
  height: 50vh;
  width: 100vw;
  margin-top: 20vh;
}

.heroAnimation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
}
