@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;400;800&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary: #227c9d;
    --ifm-color-primary-dark: #1f708d;
    --ifm-color-primary-darker: #1d6985;
    --ifm-color-primary-darkest: #18576e;
    --ifm-color-primary-light: #2588ad;
    --ifm-color-primary-lighter: #278fb5;
    --ifm-color-primary-lightest: #2ca1cc;

    --ifm-color-secondary: #15b0a0;
    --ifm-color-secondary-dark: #139e90;
    --ifm-color-secondary-darker: #129688;
    --ifm-color-secondary-darkest: #0f7b70;
    --ifm-color-secondary-light: #16b9a8;
    --ifm-color-secondary-lighter: #17c2b0;
    --ifm-color-secondary-lightest: #18cab8;

    --ifm-color-acccent: #ffb63f;
    --ifm-color-acccent-dark: #ffaa1f;
    --ifm-color-acccent-darker: #ffa40f;
    --ifm-color-acccent-darkest: #df8a00;
    --ifm-color-acccent-light: #ffc25f;
    --ifm-color-acccent-lighter: #ffc86f;
    --ifm-color-acccent-lightest: #ffda9e;

    --ifm-color-danger: #fe4950;
    --ifm-color-danger-dark: #fe2831;
    --ifm-color-danger-darker: #fe1821;
    --ifm-color-danger-darkest: #e4010a;
    --ifm-color-danger-light: #fe5960;
    --ifm-color-danger-lighter: #fe6a6f;
    --ifm-color-danger-lightest: #fe7a7f;

    --ifm-code-font-size: 95%;
    --ifm-color-white: #FEF9EF;
    --ifm-color-black: #354A54;

    --ifm-color-gray-100: #f7fafc;
    --ifm-color-gray-200: #edf2f7;
    --ifm-color-gray-300: #e2e8f0;
    --ifm-color-gray-400: #cbd5e0;
    --ifm-color-gray-500: #a0aec0;
    --ifm-color-gray-600: #718096;
    --ifm-color-gray-700: #4a5568;
    --ifm-color-gray-800: #2d3748;
    --ifm-color-gray-900: #1a202c;

    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
    --ifm-footer-link-color: var(--ifm-color-white);
    --ifm-font-family-base: 'JetBrains Mono', monospace;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
    --ifm-color-secondary: #17c3b2;
    --ifm-color-secondary-dark: #15b0a0;
    --ifm-color-secondary-darker: #14a697;
    --ifm-color-secondary-darkest: #10897d;
    --ifm-color-secondary-light: #19d6c4;
    --ifm-color-secondary-lighter: #1ae0cd;
    --ifm-color-secondary-lightest: #34e7d5;

    --ifm-color-acccent: #ffcb77;
    --ifm-color-acccent-dark: #ffbd52;
    --ifm-color-acccent-darker: #ffb63f;
    --ifm-color-acccent-darkest: #ffa007;
    --ifm-color-acccent-light: #ffd99c;
    --ifm-color-acccent-lighter: #ffe0af;
    --ifm-color-acccent-lightest: #fff6e7;

    --ifm-color-danger: #fe6d73;
    --ifm-color-danger-dark: #fe4950;
    --ifm-color-danger-darker: #fe373f;
    --ifm-color-danger-darkest: #fc020c;
    --ifm-color-danger-light: #fe9196;
    --ifm-color-danger-lighter: #fea3a7;
    --ifm-color-danger-lightest: #ffd9db;

    --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.footer__link-item {
    --ifm-footer-link-color: var(--ifm-color-white);
}

.footer__copyright {
    color: var(--ifm-color-white);
}

.button.button--secondary {
    color: var(--ifm-color-white);
}

.navbar__logo > img {
    border-radius: 0.5rem;
}

code span {
    margin: 0;
}

.highlight-red {
  background-color: #ff000020; /* Light red background */
  border-left: 3px solid #ff000080; /* Darker red border */
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.highlight-green {
  background-color: #00ff0020; /* Light green background */
  border-left: 3px solid #00ff0080; /* Darker green border */
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

