[Desktop Entry]
Name=Typewriter
Comment=Configure and manage Typewriter
Exec=app_icon
Icon=app_icon.png
Terminal=false
Type=Application
Categories=Entertainment;
StartupWMClass=com.typewritermc.panel
